{% extends 'layout.html' %} {% block body %} {% include "includes/message.html"
%}
<h3>Recent orders</h3>
<hr />
{{orders}}
<form action="{{url_for('add_member')}}" method="POST" class="col-8">
  <div class="mb-3 form-floating">
    <input
      type="text"
      class="form-control"
      id="basic-url"
      aria-describedby="Name"
      placeholder="Name"
      name="name"
    />
    <label for="basic-url" class="form-label">Name</label>
  </div>
  <div class="mb-3 form-floating">
    <input
      type="email"
      class="form-control"
      id="basic-url"
      aria-describedby="Email"
      placeholder="Email"
      name="email"
    />
    <label for="basic-url" class="form-label">Email</label>
  </div>
  <div class="mb-3 form-floating">
    <input
      type="password"
      class="form-control"
      id="basic-url"
      aria-describedby="Password"
      placeholder="Password"
      name="password"
    />
    <label for="basic-url" class="form-label">Password</label>
  </div>
  <button type="submit" class="btn btn-success btn-lg">Add</button>
</form>

{% endblock %}
